<!-- <div *ng-if="postes == 'undefined'">Aucun poste</div>
<div *ng-if="postes.length > 0">

</div> -->
<div class="col-sm-4 dept">
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title">Liste des postes</h3>
        </div>
        <div class="panel-body">
            <ul>
                <li *ng-for="#poste of postes; #i = index">
                    <button class="btn btn-xs btn-danger posteDelete" (click)="deletePoste(i)">x</button>
                    <strong><em (click)="afficherEmployes(i)">{{poste.libelle}}</em></strong>
                    <!-- <button (click)="updateDepartement(i)">/</button> -->
                </li>
            </ul>
        </div>
    </div>
</div>

