<div class="col-sm-4 dept">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Liste des départements</h3>
        </div>
        <div class="panel-body"><!-- 
            <form [ng-form-model]='departementForm'>
                <p><input type='text' ng-control='departement' placeholder="Nom département">
                <button class="btn btn-sm btn-default" (click)='addDepartement($event)'>Ajouter</button></p>
            </form> -->
            <ul>
                <li *ng-for="#departement of departements; #i = index">
                    <button class="btn btn-xs btn-danger deptDelete" (click)="deleteDepartement(i)">x</button>
                    <strong><em (click)="afficherPostes(i)">{{departement.libelle}}</em></strong>
                    <!-- <button (click)="updateDepartement(i)">/</button> -->
                </li>
            </ul>
        </div>
    </div>
</div>